alabaster==0.7.12
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
cryptography==3.3.1
cycler==0.10.0
docutils==0.16
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
more-itertools==8.6.0
numpy==1.19.5
olefile==0.46
packaging==20.8
Pillow==8.1.0
pip==20.3.3
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.7.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks==1.7.1
pytest==6.2.1
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
scipy==1.6.0
setuptools==49.6.0.post20210108
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
torch==1.7.1
tornado==6.1
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wheel==0.36.2
win-inet-pton==1.1.0
wincertstore==0.2
